/* purgecss start ignore */
@tailwind base ;
@tailwind components ;
/* purgecss end ignore */ 

@tailwind utilities ;

@font-face {
  font-family: buttonFont;
  src: url(/fonts/bold.woff2);
  font-style: normal;
}
@font-face {
  font-family: textFont;
  src: url(/fonts/regular.woff2);
  font-style: normal;
}

/* body {
	background-color: orange;
} */

#box1{
	--tw-text-opacity: 1;
	color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.callToRating {
	font-family: textFont;
	letter-spacing: 0.05em;
	font-size: 80px;
	font-weight: 100;
}

.thanks {
	font-family: textFont;
	letter-spacing: 0.2em;
	font-size: 80px;
	font-weight: 100;
}

.digitalButton{
	font-family: buttonFont;
	font-weight: 600;
	font-size: 70px;
	/* text-shadow: 0 0 10px rgba(0,0,0,0.9); */
	text-shadow: 0 0 10px rgba(230,73,21,1);
	width: 82px;
	--tw-border-opacity: 1;
	border-color: rgba(254, 104, 14, var(--tw-border-opacity));
}
