<!DOCTYPE html>
<html>
<head>
<title>Додавання користувача</title>
<link
   rel="stylesheet"
   type="text/css"
   href="/css/app.css"
/>
</head>
<body>
   <div
      class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8"
   >
      <div class="max-w-md w-full space-y-8">
         <div>
            <h2
               class="mt-6 text-center text-3xl font-extrabold text-gray-900"
            >Редагувати користувача</h2>
         </div>
         <hr />
         <form
            class="mt-8 space-y-6"
            th:object="${user}"
            th:action="@{'/users/update/' + *{id}}"
            method="post"
         >
            <div
               class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600"
            >
               <label
                  for="login"
                  class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
               >Логін</label> <input
                  type="text"
                  name="login"
                  id="login"
                  th:field="*{login}"
                  class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                  placeholder="Введіть логін"
                  required
               >
            </div>
            <div
               class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600"
            >
               <label
                  for="password"
                  class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
               >Пароль</label> <input
                  type="password"
                  name="password"
                  id="password"
                  th:field="*{password}"
                  class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                  placeholder="Введіть пароль"
               >
            </div>
            <div
               class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600"
            >
               <label
                  for="pointOfSale"
                  class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
               >POS</label> <input
                  type="text"
                  name="pointOfSale"
                  id="pointOfSale"
                  th:field="*{pointOfSale}"
                  class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                  placeholder="Введіть точку продажу"
               >
            </div>
            <div
               class="relative border border-gray-300 rounded-md px-3 py-2 shadow-sm focus-within:ring-1 focus-within:ring-blue-600 focus-within:border-blue-600"
            >
               <label
                  for="powerBiUrl"
                  class="absolute -top-2 left-2 -mt-px inline-block px-1 bg-white text-xs font-medium text-gray-900"
               >URL</label> <input
                  type="text"
                  name="powerBiUrl"
                  id="powerBiUrl"
                  th:field="*{powerBiUrl}"
                  class="block w-full border-0 p-0 text-gray-900 placeholder-gray-500 focus:ring-0 sm:text-sm"
                  placeholder="Введіть посилання"
               >
            </div>
            <div class="space-y-5">
               <div class="relative flex items-center">
                  <div
                     class="flex items-center h-5"
                     th:each="role : ${roles}"
                  >
                     <th:block th:switch="${role.name}">
                        <input
                           th:case="'ROLE_USER'"
                           th:type="radio"
                           name="roles"
                           th:text="'Користувач'"
                           th:value="${role.id}"
                           class="focus:ring-blue-500 ml-5 mr-1 h-4 w-4 text-blue-600 border-gray-300 rounded"
                        >
                        <input
                           th:case="'ROLE_POWERBI'"
                           th:type="radio"
                           name="roles"
                           th:text="'PowerBI'"
                           th:value="${role.id}"
                           class="focus:ring-blue-500 ml-5 mr-1 h-4 w-4 text-blue-600 border-gray-300 rounded"
                        >
                        <input
                           th:case="'ROLE_ADMIN'"
                           th:type="radio"
                           name="roles"
                           th:text="'Адміністратор'"
                           th:value="${role.id}"
                           class="focus:ring-blue-500 ml-5 mr-1 h-4 w-4 text-blue-600 border-gray-300 rounded"
                        >
                     </th:block>
                  </div>
               </div>
            </div>
            <button
               type="submit"
               class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >Зберегти</button>
         </form>
         <hr />
         <div class="text-sm">
            <a
               href="#"
               th:href="@{/admin}"
               class="font-medium text-blue-600 hover:text-blue-500"
            > Назад до списку </a>
         </div>
      </div>
   </div>
</body>
</html>